<div mat-dialog-content>
    <div class="d-flex  pt-3 pb-2 align-items-center justify-content-between">
        <div>
            <h2 class="m-0 p-0">
                Doctor Information View
            </h2>
            <p class="p-0 m-0">View/Manage Doctor Information</p>
        </div>
    </div>
    <div class="container c1 py-3 my-2">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Doctor Name: <span> {{allData.firstName}}</span>
                </label><br>
            </div>
            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Registered: <span>{{allData.registered}}</span></label>
            </div> 
            
            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Dr Email: <span>{{allData.email}}</span></label>
            </div> 
            
            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Dr Mobile no: <span>{{allData.mobileno}}</span></label>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Speciality: <span> {{allData.speciality}}</span>
                </label><br>
            </div>

            <div class="col-md-3 col-sm-12">
                <label class="clr" for="specificSizeSelect">Experience: <span> {{allData.expreience}}</span>
                </label><br>
            </div>
       
            <div class="col-md-3 col-sm-12">
                <label class="clr" for="specificSizeSelect">Clinic Name: <span>{{allData.clinicName}}</span></label>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">City: <span>{{allData.city}}</span></label>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Clinic Loc: <span>{{allData.clinicAddress}}</span></label>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Clinic Mobile No: <span>{{allData.clinicMobileno}}</span></label>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Dob: <span>{{allData.dateOfBirth}}</span></label>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Gender: <span>{{allData.gender}}</span></label>
            </div>
            
            <div class="col-sm-12 col-md-3">
                <label class="clr" for="specificSizeSelect">Status: <span>{{allData.drStatus}}</span></label>
            </div>

        </div>
    </div>



</div>
