.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 0px;
}
.text-danger{
   color: red;
}
.btn-cancle{
    border: 1px solid #005dac;
  }
  .bread-cr{
      color: #005dac !important;
  }
  .bread-cr :hover{
      color: #868885 !important;
  }