<div class="d-flex  pt-3 pb-2 align-items-center justify-content-between">
    <div><h2 class="m-0 p-0">
   Payments
    </h2>
    <p class="p-0 m-0"></p>
    </div>
</div> 

<mat-tab-group animationDuration="0ms">
    <mat-tab label="Payment Options">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <div class="d-flex p-2 ">
                    <img src="../../../../../../assets/img/practo-wallet-icon.webp" alt="" style="height: 40px;"> &nbsp; &nbsp; &nbsp;
                    <p class="pt-2">Practo HealthCash <strong>0.0</strong></p>
                </div>
                 </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="HealthCash History">
        <div class="row">
            <div class="col text-center" style="padding: 90px;">
                <img  style="height: 80px;" src="../../../../../../assets/img/no_record_logo.svg"
                    class="img-thumbnail border-0" alt="">
                <h4 class="card-title text-center" style="margin-bottom: 32px;">
                    You do not have any HealthCash transactions 
                </h4>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>