
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
   
    margin-bottom: 200px;
  
  }
  mat-label{
    margin-bottom: 10px;
  }
  .mdc-text-field--filled{
    height: 80px !important;
  }