<div class="mb-4">
    <h2 class=" m-0">
        Drug </h2>
    <span style="cursor: pointer;" (click)="cancel()" ><i class="fa fa-arrow-left"></i> 
        Drug</span>
</div>
<div class="card">
        <div class="card-body">
            <form [formGroup]="addPrescription">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-submit"  (click)="addQuantity()">+</button>
                    </div>
                </div>
                <div formArrayName="medicineName">
                    <div *ngFor="let quantity of medicineName().controls; let i=index" [formGroupName]="i">
                        <div class="row">
                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="form-group">
                                <label>Enter Medicine:</label>
                                <input formControlName="medicine" class="form-control"  placeholder="Enter Medicine" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="form-group">
                                <label>Enter Frequency:</label>
                                <select formControlName="frequency" class="form-control"  >
                                    <option value="" disabled >Choose Your Frequency</option>
                                    <option value="1-0-1">1-0-1</option>
                                    <option value="1-0-0">1-0-0</option>
                                    <option value="1-1-1">1-1-1</option>
                                    <option value="0-0-1">0-0-1</option>
                                    <option value="S.O.S">S.O.S</option>
                                    <option value="5ml-0-5ml">5ml-0-5ml</option>
                                    <option value="2.5ml-2.5ml">2.5ml-2.5ml</option>
                                    <option value="10ml-0-10ml">10ml-0-10ml</option>
                                    <option value="1-1-1">1-1-1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="form-group">
                                <label>Enter Duration:</label>
                                <select formControlName="duration" class="form-control"  >
                                    <option value="" disabled >Choose Your Frequency</option>
                                    <option value="3">3</option>
                                    <option value="7">7</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="form-group">
                                <label>Enter Instruction:</label>
                                <input formControlName="instruction" class="form-control" placeholder="Enter Instruction" />
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-sm-3 col-12">
                            <div class="form-group">
                                <label></label>
                            <button type="button" class="btn btn-submit" style="margin-top: 10px;" (click)="removeQuantity(i)">-</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
               
            </div>
        </form>
        <div class="col-sm-12 m-0 p-0">
            <button class="btn btn-submit me-2" (click)="onSubmit()">Submit</button>
            <a class="btn btn-cancel" (click)="cancel()" >Cancel</a>
        </div>
        </div>
</div>
