.set_image_reg {
    height: 100px;
    width: 115px;
    text-align: center !important;
    justify-content: center !important;
}

.set_dinner {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center !important;
    justify-content: center !important;
    
}
.btn-save{
    background-color: #005dac;
    color: white;
    text-align: center !important;
    justify-content: center !important;
}
.btn-cancle{
  border: 1px solid #005dac;
}
.bread-cr{
    color: #005dac !important;
}
.bread-cr :hover{
    color: #868885 !important;
}
.h5 {
    margin-bottom: 0;
    color: #060606;
    font-size: 16px;
    font-weight: 600;
}



