.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    color: #fff;
    background-color: #005dac !important;
    border-color: #005dac !important;
    font-size: 1.0625em;
}