
<div class="page-header">
    <div class="page-title">
        <div class="page-title">
            <h4>Staff List</h4>
            <h6>Manage Your Staff</h6>
        </div>
    </div>
    
</div>

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="d-block d-sm-flex align-items-center justify-content-between">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="dataTable-top">
        <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..."
                (keyup)="applyFilter($event)" #input type="text">
        </div>
    </div>

    <div class="col-12">
        <div class="card table-card">
            <div class="card-header card-body table-border-style">
                <div class="">
                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                        <div class="dataTable-container">
                            <div class="table-responsive">
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive">
                                    <ng-container matColumnDef="sno">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element let i=index"> {{i+1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="hosimage">
                                        <th mat-header-cell *matHeaderCellDef> Staff Image </th>
                                        <td mat-cell *matCellDef="let element"> <div><img src="{{element.image}}" alt="img" class="mt-2" style=" width:70%;
                                            height: auto;
                                            vertical-align: middle;border-radius: 50%;" /></div> </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> Email </th>
                                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="department">
                                        <th mat-header-cell *matHeaderCellDef> Department </th>
                                        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                                    </ng-container>
                                 
                                    <ng-container matColumnDef="experience">
                                        <th mat-header-cell *matHeaderCellDef> Experience </th>
                                        <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="gender">
                                        <th mat-header-cell *matHeaderCellDef> Gender </th>
                                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="role">
                                        <th mat-header-cell *matHeaderCellDef> Role </th>
                                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef> Address </th>
                                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="phone">
                                        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <button mat-icon-button (click)="deletehospital(element)"matTooltip="Click to Delete" class="iconbutton" color="primary">
                                            <mat-icon aria-label="Delete">delete</mat-icon>
                                          </button> <button (click)="editDoctor(element._id)"  mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                                            <mat-icon aria-label="Edit">edit</mat-icon>
                                          </button>  </td>
                                    </ng-container> -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>
                                </table>

                                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>